body
{
    background-image: url('Screenshot%20(25).png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.fixed
{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    border: .4vw;
    padding: .6vw;
    background-color: black;
    color: white;
    font-size: 1.2vw;
}

button
{
    text-align: center;
    color: #eef5ee;
    background-color: rgba(0, 0, 0, 0.86);
    font-size: vw;
    font-family: red serif;
    margin: auto;
    width: 30vw;
    height: 10vw;
    border: none;
    padding: none;
    border-style: none;
    position: relative;
    left:40%;  
    cursor: pointer;
    
}
button:hover
{
    background-color: rgba(2, 2, 2, 0.43);
    box-shadow: 0 100px 100px 0 black, 0 100px 500px 0 black;
}

div.header
{
    background-color: rgba(46, 129, 129, 0.9);
    margin: 0px;
    text-align: center;
    padding: .7vw;
    border-radius: 2vw;
    font-size: 5.5vw;
    color: #eef5ee;
}

#para
{
    font-size: 3vw;
}

div.check
a:hover
{
    color: aqua;
}

p.note
{
    background-color: black;
    color:white;
    font-size:2.5vw;
    padding:.6vw;
}

#syllabus
{
    font-size:3vw;
    padding:.6vw;
    text-align: center;
}


@media only screen and (min-width: 768px)
{
body
{
    background-image: url('Screenshot%20(25).png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.fixed
{
    position: fixed;
    right: 0;
    bottom: 0;
    position: fixed;
    width: auto;
    border: .4vw;
    padding: .6vw;
    background-color: black;
    color: white;
    font-size: 1.2vw;
}

button
{
    text-align: center;
    color: #eef5ee;
    background-color: rgba(0, 0, 0, 0.86);
    font-size: 2vw;
    font-family: red serif;
    margin: auto;
    width: 15vw;
    height: 5vw;
    border: none;
    padding: none;
    border-style: none;
    position: relative;
    left:40%;  
    cursor: pointer;
    
}
button:hover
{
    background-color: rgba(2, 2, 2, 0.43);
    box-shadow: 0 100px 100px 0 black, 0 100px 500px 0 black;
}

div.header
{
    background-color: rgba(46, 129, 129, 0.9);
    margin: 5vw 5vw 0vw 5vw;
    text-align: center;
    padding: .7vw;
    border-radius: 2vw;
    font-size: 3vw;
    color: #fcf5f5;
}

#para
{
    font-size: 1.8vw;
}

div.check
a:hover
{
    color: aqua;
}

p.note
{
    background-color: black;
    color:white;
    font-size:1.5vw;
    padding:.6vw;
}

#syllabus
{
    font-size:1.5vw;
    padding:.6vw;
    text-align: center;
}

}