
html
{
    margin: 0% 4% 4% 4%;
    padding: 0% 4% 4% 4%;
}
body
{
    background-color: rgba(147, 147, 147, 0.38);
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
button:hover
{
    background-color: rgba(2, 2, 2, 0.43);
    box-shadow: 0 100px 100px 0 black, 0 100px 500px 0 black;
}


h1
{
    text-align: center;
    font-family:normal;
    font-size: 4.5vw;
    border: dashed ;
    border-width: 5;
    border-radius: 10px;
    
}
h2
{
    font-size: 3vw;
}

div.papers
{
    letter-spacing: 1;
    word-spacing: 6;
    line-height: 2;
    font-size: 1.5vw;
}
div.papers
a:hover
{
    color: grey;
    font-size: 2vw;
}

div.fixed
{
    position: fixed;
    right: 0;
    bottom: 0;
    position: fixed;
    width: auto;
    border: .4vw;
    padding: .6vw;
    background-color: black;
    color: white;
    font-size: 1.2vw;
}

p.msg
{
    font-size: 1.3vw;
}
